@media screen and (max-width:400px) {
	@-ms-viewport {
		width: 320px;
	}
}

@media(orientation:landscape) {
	.cssorient:after {
		content: "landscape";
	}
}
@media(orientation:portrait) {
	.cssorient:after {
		content: "portrait";
	}
}


/* CSS device-width */

@media(min-device-width:240px) {
	.cssdevwidth:after {
		content: "240px+";
	}

	.cssdevwidthem:after {
		content: "15em+";
	}
}

@media(min-device-width:320px) {
	.cssdevwidth:after {
		content: "320px+";
	}

	.cssdevwidthem:after {
		content: "20em+";
	}
}

@media(min-device-width:360px) {
	.cssdevwidth:after {
		content: "360px+";
	}

	.cssdevwidthem:after {
		content: "22.5em+";
	}
}

@media(min-device-width:375px) {
	.cssdevwidth:after {
		content: "375px+";
	}

	.cssdevwidthem:after {
		content: "23.4em+";
	}
}

@media(min-device-width:390px) {
	.cssdevwidth:after {
		content: "390px+";
	}

	.cssdevwidthem:after {
		content: "24.4em+";
	}
}

@media(min-device-width:412px) {
	.cssdevwidth:after {
		content: "412px+";
	}

	.cssdevwidthem:after {
		content: "25em+";
	}
}

@media(min-device-width:414px) {
	.cssdevwidth:after {
		content: "414px+";
	}

	.cssdevwidthem:after {
		content: "25.8em+";
	}
}

@media(min-device-width:480px) {
	.cssdevwidth:after {
		content: "480px+";
	}

	.cssdevwidthem:after {
		content: "30em+";
	}
}

@media(min-device-width:504px) {
	.cssdevwidth:after {
		content: "504px+";
	}

	.cssdevwidthem:after {
		content: "31.5em+";
	}
}

@media(min-device-width:540px) {
	.cssdevwidth:after {
		content: "540px+";
	}

	.cssdevwidthem:after {
		content: "33em+";
	}
}

@media(min-device-width:568px) {
	.cssdevwidth:after {
		content: "568px+";
	}

	.cssdevwidthem:after {
		content: "35em+";
	}
}

@media(min-device-width:576px) {
	.cssdevwidth:after {
		content: "576px+";
	}

	.cssdevwidthem:after {
		content: "36em+";
	}
}

@media(min-device-width:600px) {
	.cssdevwidth:after {
		content: "600px+";
	}

	.cssdevwidthem:after {
		content: "38em+";
	}
}

@media(min-device-width:640px) {
	.cssdevwidth:after {
		content: "640px+";
	}

	.cssdevwidthem:after {
		content: "40em+";
	}
}

@media(min-device-width:690px) {
	.cssdevwidth:after {
		content: "690px+";
	}

	.cssdevwidthem:after {
		content: "43em+";
	}
}

@media(min-device-width:720px) {
	.cssdevwidth:after {
		content: "720px+";
	}

	.cssdevwidthem:after {
		content: "45em+";
	}
}

@media(min-device-width:768px) {
	.cssdevwidth:after {
		content: "768px+";
	}

	.cssdevwidthem:after {
		content: "48em+";
	}
}

@media(min-device-width:800px) {
	.cssdevwidth:after {
		content: "800px+";
	}

	.cssdevwidthem:after {
		content: "50em+";
	}
}
@media(min-device-width:960px) {
	.cssdevwidth:after {
		content: "960px+";
	}

	.cssdevwidthem:after {
		content: "60em+";
	}
}
@media(min-device-width:980px) {
	.cssdevwidth:after {
		content: "980px+";
	}

	.cssdevwidthem:after {
		content: "61em+";
	}
}

@media(min-device-width:1024px) {
	.cssdevwidth:after {
		content: "1024px+";
	}

	.cssdevwidthem:after {
		content: "64em+";
	}
}

@media(min-device-width:1080px) {
	.cssdevwidth:after {
		content: "1080px+";
	}

	.cssdevwidthem:after {
		content: "67em+";
	}
}

@media(min-device-width:1280px) {
	.cssdevwidth:after {
		content: "1280px+";
	}

	.cssdevwidthem:after {
		content: "80em+";
	}
}

@media(min-device-width:1366px) {
	.cssdevwidth:after {
		content: "1366px+";
	}

	.cssdevwidthem:after {
		content: "85em+";
	}
}

@media(min-device-width:1600px) {
	.cssdevwidth:after {
		content: "1600px+";
	}

	.cssdevwidthem:after {
		content: "100em+";
	}
}

@media(min-device-width:1920px) {
	.cssdevwidth:after {
		content: "1920px+";
	}

	.cssdevwidthem:after {
		content: "120em+";
	}
}

/* CSS device-height */

@media(min-device-height:240px) {
	.cssdevheight:after {
		content: "240px+";
	}

	.cssdevheightem:after {
		content: "15em+";
	}
}

@media(min-device-height:320px) {
	.cssdevheight:after {
		content: "320px+";
	}

	.cssdevheightem:after {
		content: "20em+";
	}
}

@media(min-device-height:360px) {
	.cssdevheight:after {
		content: "360px+";
	}

	.cssdevheightem:after {
		content: "22.5em+";
	}
}

@media(min-device-height:375px) {
	.cssdevheight:after {
		content: "375px+";
	}

	.cssdevheightem:after {
		content: "23.4em+";
	}
}

@media(min-device-height:390px) {
	.cssdevheight:after {
		content: "390px+";
	}

	.cssdevheightem:after {
		content: "24.4em+";
	}
}

@media(min-device-height:480px) {
	.cssdevheight:after {
		content: "480px+";
	}

	.cssdevheightem:after {
		content: "30em+";
	}
}

@media(min-device-height:504px) {
	.cssdevheight:after {
		content: "504px+";
	}

	.cssdevheightem:after {
		content: "31.5em+";
	}
}

@media(min-device-height:540px) {
	.cssdevheight:after {
		content: "540px+";
	}

	.cssdevheightem:after {
		content: "33em+";
	}
}

@media(min-device-height:568px) {
	.cssdevheight:after {
		content: "568px+";
	}

	.cssdevheightem:after {
		content: "35em+";
	}
}

@media(min-device-height:576px) {
	.cssdevheight:after {
		content: "576px+";
	}

	.cssdevheightem:after {
		content: "36em+";
	}
}

@media(min-device-height:600px) {
	.cssdevheight:after {
		content: "600px+";
	}

	.cssdevheightem:after {
		content: "36em+";
	}
}

@media(min-device-height:640px) {
	.cssdevheight:after {
		content: "640px+";
	}

	.cssdevheightem:after {
		content: "40em+";
	}
}
@media(min-device-height:667px) {
	.cssdevheight:after {
		content: "667px+";
	}

	.cssdevheightem:after {
		content: "42em+";
	}
}

@media(min-device-height:690px) {
	.cssdevheight:after {
		content: "690px+";
	}

	.cssdevheightem:after {
		content: "43em+";
	}
}

@media(min-device-height:720px) {
	.cssdevheight:after {
		content: "720px+";
	}

	.cssdevheightem:after {
		content: "45em+";
	}
}

@media(min-device-height:732px) {
	.cssdevheight:after {
		content: "732px+";
	}

	.cssdevheightem:after {
		content: "45.75em+";
	}
}

@media(min-device-height:736px) {
	.cssdevheight:after {
		content: "736px+";
	}

	.cssdevheightem:after {
		content: "46em+";
	}
}

@media(min-device-height:768px) {
	.cssdevheight:after {
		content: "768px+";
	}

	.cssdevheightem:after {
		content: "48em+";
	}
}

@media(min-device-height:800px) {
	.cssdevheight:after {
		content: "800px+";
	}

	.cssdevheightem:after {
		content: "50em+";
	}
}
@media(min-device-height:960px) {
	.cssdevheight:after {
		content: "960px+";
	}

	.cssdevheightem:after {
		content: "60em+";
	}
}

@media(min-device-height:980px) {
	.cssdevheight:after {
		content: "980px+";
	}

	.cssdevheightem:after {
		content: "61em+";
	}
}

@media(min-device-height:1024px) {
	.cssdevheight:after {
		content: "1024px+";
	}

	.cssdevheightem:after {
		content: "64em+";
	}
}

@media(min-device-height:1080px) {
	.cssdevheight:after {
		content: "1080px+";
	}

	.cssdevheightem:after {
		content: "67em+";
	}
}

@media(min-device-height:1280px) {
	.cssdevheight:after {
		content: "1280px+";
	}

	.cssdevheightem:after {
		content: "80em+";
	}
}

@media(min-device-height:1366px) {
	.cssdevheight:after {
		content: "1366px+";
	}

	.cssdevheightem:after {
		content: "85em+";
	}
}

@media(min-device-height:1600px) {
	.cssdevheight:after {
		content: "1600px+";
	}

	.cssdevheightem:after {
		content: "100em+";
	}
}

@media(min-device-height:1920px) {
	.cssdevheight:after {
		content: "1920px+";
	}

	.cssdevheightem:after {
		content: "120em+";
	}
}

/* CSS pixel-ratio */

@media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
	.cssratio:after {
		content: "1+";
	}
}
@media (-webkit-device-pixel-ratio: 1), (resolution: 96dpi), (resolution: 1dppx) {
	.cssratio:after {
		content: "1";
	}
}
@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124dpi), (min-resolution: 1.3dppx) {
	.cssratio:after {
		content: "1.3+";
	}
}
@media (-webkit-device-pixel-ratio: 1.3), (resolution: 125dpi), (resolution: 1.3dppx) {
	.cssratio:after {
		content: "1.3";
	}
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
	.cssratio:after {
		content: "1.5+";
	}
}
@media (-webkit-device-pixel-ratio: 1.5), (resolution: 144dpi), (resolution: 1.5dppx) {
	.cssratio:after {
		content: "1.5";
	}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	.cssratio:after {
		content: "2+";
	}
}
@media (-webkit-device-pixel-ratio: 2), (resolution: 192dpi), (resolution: 2dppx) {
	.cssratio:after {
		content: "2";
	}
}
@media (-webkit-min-device-pixel-ratio: 2.2), (min-resolution: 211dpi), (min-resolution: 2.2dppx) {
	.cssratio:after {
		content: "2.2+";
	}
}
@media (-webkit-min-device-pixel-ratio: 2.4), (min-resolution: 230dpi), (min-resolution: 2.4dppx) {
	.cssratio:after {
		content: "2.4+";
	}
}
@media (-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
	.cssratio:after {
		content: "2.5+";
	}
}
@media (-webkit-device-pixel-ratio: 2.5), (resolution: 240dpi), (resolution: 2.5dppx) {
	.cssratio:after {
		content: "2.5";
	}
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
	.cssratio:after {
		content: "3+";
	}
}
@media (-webkit-device-pixel-ratio: 3), (resolution: 288dpi), (resolution: 3dppx) {
	.cssratio:after {
		content: "3";
	}
}
@media (-webkit-min-device-pixel-ratio: 3.5), (min-resolution: 336dpi), (min-resolution: 3.5dppx) {
	.cssratio:after {
		content: "3.5+";
	}
}
@media (-webkit-device-pixel-ratio: 3.5), (resolution: 336dpi), (resolution: 3.5dppx) {
	.cssratio:after {
		content: "3.5";
	}
}
@media (-webkit-min-device-pixel-ratio: 4), (min-resolution: 384dpi), (min-resolution: 4dppx) {
	.cssratio:after {
		content: "4+";
	}
}
@media (-webkit-device-pixel-ratio: 4), (resolution: 384dpi), (resolution: 4dppx) {
	.cssratio:after {
		content: "4";
	}
}
@media (-webkit-min-device-pixel-ratio: 5), (min-resolution: 480dpi), (min-resolution: 5dppx) {
	.cssratio:after {
		content: "5+";
	}
}
@media (-webkit-device-pixel-ratio: 5), (resolution: 480dpi), (resolution: 5dppx) {
	.cssratio:after {
		content: "5";
	}
}




/* media pointer */

@media(pointer) ,
(-webkit-pointer) ,
(-moz-pointer) ,
(-ms-pointer) ,
(-o-pointer) {
	.mediapointer span {
		display: none;
	}
}

/* media hover */

@media(hover) ,
(-webkit-hover) ,
(-moz-hover) ,
(-ms-hover) ,
(-o-hover) {
	.mediahover span {
		display: none;
	}
}

/* media luminosity */

@media(luminosity) ,
(-webkit-luminosity) ,
(-moz-luminosity) ,
(-ms-luminosity) ,
(-o-luminosity) {
	.medialum span {
		display: none;
	}
}

/* media script */

@media(script) ,
(-webkit-script) ,
(-moz-script) ,
(-ms-script) ,
(-o-script) {
	.mediascript span {
		display: none;
	}
}

.values {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* Modernizr */
.features li
{
	color: #c9000c;
}

.beforeafter .features li::before,
.touch .features li::before,
.columnssupport .features li::before,
.flexsupport .features li::before,
.flexsupport .features li::before,
.transsupport .features li::before,
.animsupport .features li::before,
.transformssupport .features li::before,
.transforms3dsupport .features li::before,
.fontsupport .features li::before,
.supportsupport .features li::before,
.canvas .features li::before,
.geolocation .features li::before,
.indexeddb .features li::before,
.websockets .features li::before,
.webgl .features li::before,
.positionsticky .features li::before,
.regions .features li::before,
.svgsupport .features li::before,
.audio .features li::before,
.video .features li::before,
.applicationcache .features li::before,
.calcsupport .features li::before,
.unitrem .features li::before,
.cssvwunit .features li::before,
.history .features li::before,
.battery .features li::before,
.file .features li::before,
.fullscreen .features li::before,
.notification .features li::before,
.timing .features li::before,
.vibration .features li::before,
.reflections .features li::before,
.draganddrop .features li::before,
.cssfilters .features li::before,
.csshyphens .features li::before,
.object-fit .features li::before,
.overflowscrolling .features li::before,
.apng .features li::before,
.webp .features li::before,
.performance .features li::before,
.load .features li::before
{
	content: "\2718";
	margin-right: 6px;
}

.generatedcontent .features .beforeafter,
.touch .features .touch,
.csscolumns .features .columnssupport,
.flexbox .features .flexsupport,
.flexboxlegacy .features .flexsupport,
.csstransitions .features .transsupport,
.cssanimations .features .animsupport,
.csstransforms .features .transformssupport,
.csstransforms3d .features .transforms3dsupport,
.fontface .features .fontsupport,
.supports .features .supportsupport,
.canvas .features .canvas,
.geolocation .features .geolocation,
.indexeddb .features .indexeddb,
.websockets .features .websockets,
.webgl .features .webgl,
.csspositionsticky .features .positionsticky,
.regions .features .regions,
.svg .features .svgsupport,
.audio .features .audio,
.video .features .video,
.applicationcache .features .applicationcache,
.csscalc .features .calcsupport,
.cssremunit .features .unitrem,
.cssvwunit .features .css_vwunit,
.history .features .history,
.battery .features .battery,
.filereader .features .file,
.fullscreen .features .fullscreen,
.notification .features .notification,
.performance .features .timing,
.vibrate .features .vibration,
.cssreflexions .features .reflexions,
.draganddrop .features .draganddrop,
.cssfilters .features .css_filters,
.csshyphens .features .css_hyphens,
.object-fit .features .css_objectfit,
.overflowscrolling .features .overflowscrolling,
.apng .features .img_apng,
.webp .features .img_webp,
.performance .features .performance,
.load .features .load
{
	color: darkgreen !important;
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
}

.generatedcontent .features .beforeafter::before,
.touch .features .touch::before,
.csscolumns .features .columnssupport::before,
.flexbox .features .flexsupport::before,
.flexboxlegacy .features .flexsupport::before,
.csstransitions .features .transsupport::before,
.cssanimations .features .animsupport::before,
.csstransforms .features .transformssupport::before,
.csstransforms3d .features .transforms3dsupport::before,
.fontface .features .fontsupport::before,
.supports .features .supportsupport::before,
.canvas .features .canvas::before,
.geolocation .features .geolocation::before,
.indexeddb .features .indexeddb::before,
.websockets .features .websockets::before,
.webgl .features .webgl::before,
.csspositionsticky .features .positionsticky::before,
.regions .features .regions::before,
.svg .features .svgsupport::before,
.audio .features .audio::before,
.video .features .video::before,
.applicationcache .features .applicationcache::before,
.csscalc .features .calcsupport::before,
.cssremunit .features .unitrem::before,
.cssvwunit .features .css_vwunit::before,
.history .features .history::before,
.battery .features .battery::before,
.filereader .features .file::before,
.fullscreen .features .fullscreen::before,
.notification .features .notification::before,
.performance .features .timing::before,
.vibrate .features .vibration::before,
.cssreflexions .features .reflexions::before,
.draganddrop .features .draganddrop::before,
.cssfilters .features .css_filters::before,
.csshyphens .features .css_hyphens::before,
.object-fit .features .css_objectfit::before,
.overflowscrolling .features .overflowscrolling::before,
.apng .features .img_apng::before,
.webp .features .img_webp::before,
.performance .features .performance::before,
.load .features .load::before
{
	content: "\2714" !important;
	margin-right: 6px;
}

.supported {
	color: darkgreen !important;
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
}
.supported:before {
	content: "\2714" !important;
	margin-right: 6px;
}

/* orientation iOS font-size fix */

@media (orientation:landscape) and (max-device-width:768px) {
	html,
	body {
		-webkit-text-size-adjust: 100%;
	}
}
